.contenedorImagen{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.contenedorImagen a{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contenedorImagen img{
    max-width: 90%;
    max-height: 60vh;
}
.contenedorImagen span{
    width: 50%;
    text-align: center;
    font-weight: bold;
}